<!DOCTYPE html>
<html>
<head>
    <!--    <script src="./search.js"></script>-->
    <script type="text/javascript">

        function send_click(elmnt) {
            console.log(elmnt);
            var q = document.getElementById("query");
            console.log("Sending to app");
            console.log(chrome);
            console.log(chrome.runtime);
            parent.postMessage({
                "type": "iframe",
                text: q.textContent,
                doc_id: elmnt.href,
                par_n: elmnt.getAttribute("data-paragraph-number"),
            }, "*");
        }
    </script>
    <style>
        .header img {
            float: left;
            width: 80px;
            height: 80px;
            background: #ffffff;
        }

        .header h2 {
            position: relative;
            top: 18px;
            left: 10px;
        }

    </style>
    <title>Recommender</title>
</head>
<body>
<h1>Search results</h1>
<p id="query">{{query}}</p>
<div>

    {% for doc in documents %}
    <div>
        <div class="header">
            <img src={{doc.img}} alt="img"/>
            <a onclick=send_click(this); target="_blank" href="{{doc.url}}" data-paragraph-number="{{doc.par_n}}">
                <h2>{{doc.title}}</h2>
            </a>
        </div>
        {{doc.init_text}}
    </div>
    {%endfor%}
</div>
</body>
</html>